<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Adam's Palindrome Checker</title>

    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <main>
        {{{body}}}
    </main>
    <script src="/public/js/form.js"></script> 
</body>

</html>