body {
    background: black;
    font-family: sans-serif;
    font-size: 18pt;
    color: white;
}

main {
    max-width: 80%;
    margin: auto;
}

header {
    border-bottom: 1px solid lightgray;
}

h1, h2, h3, h4, h5, h6 {
    color: lightgray;
    margin-bottom: 5px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}

p {
    font-size: 1rem;
    line-height: 2;
}

.is-palindrome {
    color: cornflowerblue;
    text-shadow: 1px white;
}

.not-palindrome {
    color: red;
}

#palindrome-header {
    color: lightgray;
}

.hidden {
    display: none;
}

.error {
    color: red;
    font-family: Courier New, Courier, monospace;
}

a {
    color: skyblue;
}