<header>
<h1>Palindrome Checker</h1>
<h2 id="palindrome-header">(rekcehC emordnilaP)</h2>
</header>

<form id="palindrome-form" method="post">
    <label>Enter Text to check if it's a Palindrome: </label>
    <input type="text" id="palindrome-text" name="palindrome-text">
    <input type="submit">
</form>

<p id="error" class="error hidden"></p>

<h3>Results:</h3>
<ul id="results">

</ul>

<footer>
    <p><a href="http://adamgincel.com/">Adam Gincel</a> -- CWID: 10399545 -- Stevens Institute of Technology Class of 2018</p>
</footer>